.section {
    padding: 60px 0 0 0;
    display: flex;
    gap: 33px;
    align-items: center;
    flex-direction: column;
}
.section__task {
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    border-radius: 5px;
    max-width: 1000px;
    width: 100%;
    padding: 25px 0;
    background: #a226cd;
}