.section {
    display: flex;
    flex-direction: column;
    gap: 62px;
}
.section__task-name {
    width: 227px;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    margin: 40px 0 0 40px;
}
.section__task-topics {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.section__task-topic {
    padding: 5px 0;
    font-weight: 400;
    font-size: 35px;
    background: #9e2ed3;
    border-radius: 5px;
    text-align: center;
}