.section {
    display: flex;
    padding: 212px 357px;
    gap: 86px;
    flex-direction: column;
    align-items: center;
}
.section__img {
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    overflow: hidden;
    border-radius: 100%;
    border: #6e1caf 5px solid;
}
.section__img > img {
    width: 100%;
    height: 100%;
}
.section__name {
    font-weight: 700;
    font-size: 69px;
}